*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16pt;
}

input{
    margin-top: 25px;
    padding: 5px;
}

.flex{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

p{
    color: white;
}